<div class="login">
	<h1>Login</h1>
	<%=form_for @user, {url:"/auths", method:"post"} do |user|%>
		<%=user.text_field :username, :placeholder => "Enter your username"%><br>
		<%=user.password_field :password, :placeholder => "Enter password" %><br>
	<%= user.submit "Log in" %>
	<% end %>
</div>
